/* body */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* header */
header {
  background-color: lightgoldenrodyellow;
  color: #714c16;
  text-align: left;
  font-size: 24px;
  position: relative;
  padding: 10px 20px; /* Add some padding for spacing */
  display: flex;
  align-items: center; /* Align content vertically */
}

header>img {
  max-width: 60px; /* Make the image smaller and responsive */
  height: auto;
}

header .burger-menu {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #714c16;
  position: absolute; /* Position the burger menu on the right */
  right: 20px; /* Move the burger menu to the right side */
  top: 50%; /* Center the burger menu vertically */
  transform: translateY(-50%);
  z-index: 101; /* Ensure burger menu is on top */
}

header .dropdown-menu {
  position: absolute;
  top: 60px; /* Position dropdown directly under the burger menu */
  right: 20px; /* Align it to the right side of the burger menu */
  background-color: lightgoldenrodyellow;
  color: #714c16;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 150px; /* Optionally set a fixed width for the dropdown */
  z-index: 102; /* Ensure dropdown is above the burger menu */
}

header .dropdown-menu button {
  background-color: lightgoldenrodyellow;
  color: #714c16;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%; /* Make the button fill the dropdown width */
}

/* footer */
footer {
  background-color: lightgoldenrodyellow;
  color: #714c16;
  text-align: center;
  position: fixed;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}

/* login */
.login-container {
  margin: 0;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-container form input,
.login-container form select {
  width: unset;
  display: block;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.login-container form button {
  background-color: lightgoldenrodyellow;
  color: #714c16;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: -webkit-fill-available;
  border-radius: 5px;
  display: block;
  margin: 10px 0;
  padding: 10px;
}

/* admin */
.admin-container {
  max-width: 90%;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-container button {
  background-color: lightgoldenrodyellow;
  color: #714c16;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: -webkit-fill-available;
  border-radius: 5px;
  display: block;
  margin: 10px 0;
  padding: 10px;
}

.admin-container .actions {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.admin-container h1,
.admin-container h2 {
  color: #714c16;
  margin-bottom: 10px;
  text-align: center;
} 

.admin-container table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.admin-container table th,
.admin-container table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.admin-container table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.admin-container table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.admin-container form input,
.admin-container form select {
  width: -webkit-fill-available;
  display: block;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.admin-container form button {
  background-color: lightgoldenrodyellow;
  color: #714c16;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: -webkit-fill-available;
  border-radius: 5px;
  display: block;
  margin: 10px 0;
  padding: 10px;
}

/* session */
.session-container {
  max-width: 90%;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.session-container button {
  background-color: lightgoldenrodyellow;
  color: #714c16;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  border-radius: 5px;
  display: block;
  margin: 10px 0;
  padding: 10px;
}

.session-container .actions {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.session-container h1,
.session-container h2 {
  color: #714c16;
  margin-bottom: 10px;
  text-align: center;
} 

.session-container table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.session-container table th,
.session-container table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.session-container table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.session-container table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.session-container form input,
.session-container form select {
  width: -webkit-fill-available;
  display: block;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.session-container form button {
  background-color: lightgoldenrodyellow;
  color: #714c16;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  border-radius: 5px;
  display: block;
  margin: 10px 0;
  padding: 10px;
}